<form id="createItemStockForm">
    <div class="sectionForm">
        <div>
            <label for="fname">Model:</label><br>
            <input type="text" id="model" name="model">
        </div>

        <div>
            <label for="fname">Brand:</label><br>
            <input type="text" id="brand" name="brand">
        </div>
    </div>

    <div class="sectionForm">
        <div>
            <label for="fname">Category:</label><br>
            <input type="text" id="category" name="category">
        </div>

        <div>
            <label for="fname">Year:</label><br>
            <input type="number" id="year" name="year">
        </div>
    </div>

    <div class="sectionForm">
        <div>
            <label for="fname">Price:</label><br>
            <input type="number" id="price" name="price">
        </div>

        <button id="submitBtnCreateForm">Submit</button>
    </div>
</form>