<div class="basketItem">
    <i>Icon Car</i>
    <p>Model and Brand item: - Price: </p>
    <i>DeleteIcon</i>
</div>
<div class="basketItem">
    <i>Icon Car</i>
    <p>Model and Brand item: - Price: </p>
    <i>DeleteIcon</i>
</div>
<div class="basketItem">
    <i>Icon Car</i>
    <p>Model and Brand item: - Price: </p>
    <i>DeleteIcon</i>
</div>
<div class="basketItem">
    <i>Icon Car</i>
    <p>Model and Brand item: - Price: </p>
    <i>DeleteIcon</i>
</div>
<div class="basketItem">
    <i>Icon Car</i>
    <p>Model and Brand item: - Price: </p>
    <i>DeleteIcon</i>
</div>