<div class="homeHeader">
    <h1>Welcome to DeLorian Rental</h1>

    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi, dolore eos. Eius nihil expedita cupiditate
        delectus beatae excepturi incidunt quos vitae sint quibusdam! Accusantium quaerat aliquid iusto
        ratione explicabo ducimus!
    </p>
</div>

<div class="homeContent">

    <p>Fugiat culpa aliqua quis proident magna labore amet officia Lorem do esse. Cillum veniam enim ipsum cupidatat
        velit labore exercitation in aute et quis ut fugiat aute. Ut eu amet cillum enim voluptate sunt quis est veniam
        amet est excepteur aliquip. Ullamco exercitation ea non magna nisi reprehenderit adipisicing laboris id tempor.
    </p>

    <p>
        Nostrud deserunt veniam reprehenderit aliqua do ex magna magna ullamco ullamco cupidatat eu ut. Id sint
        reprehenderit cupidatat minim esse qui dolor. Culpa ut sint enim aliqua tempor officia magna. Amet velit
        deserunt ad duis duis.
        Ipsum deserunt et labore amet. Proident eu quis aliquip cupidatat irure magna consectetur Lorem proident ad
        mollit. Laboris et laborum in laboris aliquip consequat et reprehenderit fugiat pariatur nulla sint adipisicing.
        Consequat incididunt ea ea magna tempor ea ipsum.
        Cupidatat fugiat dolor ea sint veniam nostrud. Pariatur magna incididunt Lorem incididunt sit et occaecat id sit
        aliqua. Ad laborum mollit ut ad. Sit laboris amet esse quis incididunt anim Lorem qui officia mollit proident.
    </p>
</div>