.containerNotFound {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerHeaderNotFound {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 35px;
}

.notFoundHeader {
    color: red;
}